.yel-col {
  color: #ff9966;
}
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 4px solid aliceblue !important;
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: #0F6466;
}

.font-ss {
  font-size: 110%;
}

.searchh{
  margin-left: 50% !important;
}

.bold-text{
  color: #0F6466;
  font-weight: bold;
  
}

.bgg {
  background-color: #0F6466;
}

.textgg {
  color: #0F6466;
}

.bgy {
  background-color: #ff9966;
}

.box {
  background-color: #D2E8E3 !important;
  margin: 5% 30% !important;
  border-radius: 5% !important;
}

.form-control {
  border-radius: 0% !important;
}

.input-bgg {
  background-color: #fff !important;
  border: 0 !important;
  border-bottom: 2px solid #fff !important;
  color: black;
}

.form-control:focus {
  outline-style: none !important;
  box-shadow: 1px 1px 5px 1px #79d2a6 !important;
  border-color: transparent !important;
  color: black !important;
}

.cancel-link {
  text-decoration: none !important;
  
  color: #000;
}

.cancel-btn {
  background-color: gray !important;
}

.btn :hover {
  color: #0F6466 !important;
}



.box1 {
  background-color: #D2E8E3 !important;
  margin: 0 3% !important;
}

.light-blue{
  background-color: #D2E8E3 !important;

}


.dep:hover{
  background-color:#2C3532 ;
  color: #D8B08C;

}

.dep{
  font-size: larger;
}

.light-text{
  color: #D2E8E3;
}

 select {
  text-transform: none;
  border: none !important;
  
  padding: 2%;
  color: gray;
  margin-left: 3%;
  padding-left: 3%;
  margin-top: 3%;
  margin-right: -6px;
  margin-left: 6px;
}

.cat.box{
  padding-bottom: 70% !important;
}

.t-shape{
border-top: 2px #0F6466 solid;
border-bottom: 2px #0F6466 solid;

font-size: larger !important;
}

.data-row{
border-top: 1px #0F6466 solid !important;
}


.data-row:hover{
  color: #d37522 !important;
}

td button{
  border: 0 !important;
  background: none;
}

td button :hover{
  color: #d37522 !important;

}

.back{
  align-self: end;
  border: 0 ;
  background: none;
  
}
.aaaa{
  font-size: larger !important;
}

.back-i{
  color: #0F6466;
}

.back-i :hover{
  color:#2C3532;
}

.ser{
  display: grid;
  align-self: end !important;

}